@import "setting";

.project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project h2 {
    text-align: center;
}
.preview {
    border-top: 1px solid $lightopacity;
    width: 85%;
    font-size: 2rem;
    padding-block: 10px;
    color: $light;
}
.preview a {
    padding-left: 3rem;
}

@media (max-width: 37em) {
    .preview {
        border: none;
    }
    .preview a {
        font-size: 1.2rem;
        padding: 0;
    }
}

/*@media (min-width: 37em) and (max-width: 60em) {
    
}*/